body {
  font-family: system-ui, sans-serif;
}

.row {
  display: flex;
}

.cell {
  margin: 2px;
  height: 30px;
  width: 30px;
  border: 2px solid black;

  transition: 0.3s;
}

.cell:hover {
  cursor: pointer;
  background-color: salmon;
}

.container {
  display: flex;
  justify-content: space-around;
}

.title {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
}
